@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  /****************************************/

  .gb1 {
    height: 500px;
  }

  .gb2 {
    height: 420px;
  }

  .gb3 {
    height: 400px;
  }

  .gb4 {
    height: 550px;
  }
  /****************************************/

  .gb5 {
    height: 400px;
  }

  .gb6 {
    height: 420px;
  }

  .gb7 {
    height: 450px;
  }

  .gb8 {
    height: 420px;
  }

  /****************************************/

  .gb9 {
    height: 460px;
  }

  .gb10 {
    height: 450px;
  }

  .gb11 {
    height: 600px;
  }

  .gb12 {
    height: 470px;
  }

  /****************************************/

  .gb13 {
    height: 500px;
  }

  .gb14 {
    height: 550px;
  }

  .gb15 {
    height: 380px;
  }

  .gb16 {
    height: 470px;
  }

  .hide {
    display: block;
  }
}
